@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

input {
    padding: 5px;
    border: #333 solid 1px;
}
.btn {
    background-color: #fff;
    color: #333;
    border: 1px solid green; 
}

.hello {
    color: black;
}

.file {
    background-color: #fff;
    padding: 10px;
    /* width: 100px;
    height: 50px; */
    border: #888888 solid 1px;
}
.dir {
    padding: 10px;
    width: 100px;
    height: 50px;
    border: #888888 solid 1px;
}
.local-system-form {
    max-height: 500px;
}
.local-system-file-tree {
    max-height: 300px;
}